@font-face {
  font-family: 'Apercu';
  src: url('fonts/Apercu-Mono.woff') format('woff');
  font-weight: 800;
  font-style: monospace;
}

html {
  background: #191919;
}

.home {
  font-family: 'Apercu';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  word-wrap: break-word;
}

.navigation-button {
  font-family: 'Apercu';
  color: #bdbdbd;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 1rem;
  letter-spacing: -1px;
  cursor: pointer;
}

.navigation-button:hover {
  text-decoration: underline;
}

.comic {
  max-width: 40rem;
}

.loader {
  margin-top: 3rem;
  width: 40rem;
  filter: brightness(1.2);
}

.title {
  color: #bdbdbd;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.home img {
  filter: grayscale(100%) invert(90%);
  width: 100%;
}

button {
  cursor: pointer;
  background: #191919;
  border: none;
}

.is-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  margin-top: 0.5rem;
  justify-content: center;
}

.comic-wrapper {
  display: flex;
  flex-direction: column;
}

.credit {
  color: #bdbdbd;
  letter-spacing: -0.5px;
  font-size: 0.75rem;
  font-family: 'Apercu';
  text-align: center;
  margin-bottom: -0.25rem;
}

:focus {
  outline: 0 !important;
}
/* unvisited link */
a:link {
  color: #6534ff !important;
}
/* visited link */
a:visited {
  color: #6534ff !important;
}
/* mouse over link */
a:hover {
  color: #6534ff !important;
}
/* selected link */
a:active {
  color: #6534ff !important;
}

@media (max-width: 375px) {
  .navigation-button {
    font-size: 1rem !important;
  }
}
